
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
	<div class="container-fluid d-flex justify-content-center">
	  <a href="/" id="nolinks" class="navbar-brand">
		<b>{{ config.SITE_NAME }}</b>
		
	  </a>
	  {% if config.SITE_DESCRIPTION %}
		<span class="text-muted"> - </span>
		<i class="text-muted">{{ config.SITE_DESCRIPTION }}</i>
		
	  {% endif %}
	</div>
  </nav>
  </nav><button class="login">
	{% if current_user.is_authenticated %}
	<b {% if current_user.admin %} style="color: red;" {% endif %}>{{ current_user.username }}</b><a class="logoutlink" href="/action_logout">(logout)</a>
	{% else %}
	<a href="/loginform">Click here to login or register!</a>
	{% endif %}


{% if current_user.is_authenticated %}
    <div class="actualuser">
        <a href="{{ url_for('routes.user', user_id=current_user.id) }}">Profile</a>
		    <a href="{{ url_for('routes.change_password') }}">Change Password</a>
		<a href="{{ url_for('routes.Chat') }}">Chatroom</a>
	</div></button>
{% endif %}
