{% extends 'layout.html' %}
{% block body %}

<p>Under Maintenence</p>

<div class="sendmessage">
	Enter your message here:<br>
	<div class="messageinfo">
	You are sending to {{ message.recipient_id}}
	</div>

	<form action="{{ url_for('routes.action_send_message') }}" method="POST">

		<input type="hidden" name="recipient_id" value="{{ message.recipient_id }}">

		<textarea class="inputbox" rows="25" cols="100"  name="content" placeholder="Enter message here"></textarea><br>

		<input class="inputbox" type="submit" value="Send message">
	</form>
</div>
{% endblock %}